body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow:hidden;
    background: linear-gradient(
        to bottom right,
        #DB0B5F,
        #6F00ED);
}


.root{
    color: #fff;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

h1{
    font-weight: lighter;
    font-family: Impact, 'Arial Narrow Bold', sans-serif !important;
    text-align: center;
    font-size: 60px;
    margin-bottom: -1px;
    color: transparent;
    -webkit-text-stroke:2px #fff;
    text-shadow: 8px 8px 54px #000;
}

.clock{
    display: flex;
    margin-top: 15px;
    
}

.clock div{
    background-color: #6F00ED;
    width: calc(110px * 1.5);
    height: calc(125px * 1.5);
    margin: 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#hours, #minutes, #seconds{
    font-size: 80px;
    text-shadow: -5px -5px 1px rgb(197, 142, 142);
}

.text{
    font-size:  30px;
    font-weight: bolder;
    text-shadow: -2px -3px 1px rgb(197, 142, 142);
}

.root .clock .format{
    width: 80px;
    height: 80px;
    color: rgb(2, 162, 2);
}

.root .clock .format .text{
    text-shadow: -2px -3px 1px rgb(2, 62, 2) ;
}

::selection {
    background: orangered;
}


.root .clock .time{
    position: absolute;
    bottom:2%;
    right: 0%;  
}

.format{
    cursor: pointer;
}
